/* Top */
/* Top Main */
$external-url: #0066cc;
$my-name: rgb(40, 40, 40);
$job-title: rgb(67, 67, 67);
$description: rgb(79, 79, 79);
/* About */
/* ABout Main */
$heading: #303030;
$paragraph: rgb(53, 53, 53);
/* ABout Main UseSkill*/
$text: #535351;
