// common
* {
    box-sizing: border-box;
}

// main
$main-title-color: #303030;
$main-text-color: #535151;

.main {
    display: flex;
    width: 100%;
    margin: 50px 0;

    &__container--left {
        width: 50%;
        margin-left: 60px;

        p {
            color: $main-text-color;
            font-weight: 300;
        }
    }

    &__container--right {
        width: 50%;
        margin-left: 60px;
    }

    &__title {
        color: $main-title-color;
        font-size: 200%;
    }

    &__subtitle {
        color: $main-title-color;
        font-weight: 300;
        font-size: 130%;
        margin-bottom: 10px;
        margin-top: 30px;
        color: #323232;
    }

    &__text--first {
        margin-bottom: 1rem;
        margin-top: 30px;
    }
    &__text--second {
        margin-bottom: 1rem;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        text-align: center;
        margin-right: 20px;

        p {
            color: $main-text-color;
            font-size: 0.8rem;
            font-weight: 300;
            margin: 0;
        }
    }

    &__img {
        width: 45px;
    }

    &__img--introduction {
        width: 200px;
        margin-top: 20px;
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
    }
}