@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* common */
* {
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    margin: 0;
    background-color: #fff;
}

a {
    text-decoration: none;
}

/* header */
.header {
    width: 100%;
    background-color: #eee5e570;
}

.header--gloval-nav {
    display: flex;
    justify-content: flex-end;
    margin: 0 30px;
}

.header--gloval-nav ul {
    padding: 0;
}

.header--nav-item {
    display: inline-block;
}

.header--nav-item a {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: #303030;
}

.header--nav-item.active a {
    color: royalblue;
}

.header--nav-item a:hover {
    color: royalblue;
}

/* main */
main {
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.top-main-left {
    text-align: center;
    display: inline-block;
    width: 50%;
}

.top-main-left h1 {
    font-size: 2.0rem;
}

.face-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.my-name {
    color: #303030;
    margin-bottom: 0;
}

.job-name {
    font-size: 1.5rem;
    font-weight: 300;
    color: #535151;
    margin-top: 0;
}

.self-introduction {
    font-weight: 300;
    color: #696969;
}

.top-main-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-item {
    font-size: 1.5rem;
    font-weight: 380;
    border-radius: 3px;
    display: flex;
    align-items: center;
    /* padding: 0 20px;
    width: 200px; */
    transition: 0.3s;
    color: #303030;
}

.right-item:hover {
    transform: scale(1.2,1.2);
}

.icon {
    margin-right: 30px;
}

/* footer */
.footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
    color: #696969;
    position: fixed;
    bottom: 0;
}