@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* common */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    margin: 0;
    background-color: #fff;
}

a {
    text-decoration: none;
}

/* header */
.header {
    width: 100%;
    background-color: #eee5e570;
}

.gloval-nav {
    display: flex;
    justify-content: flex-end;
    margin: 0 20px;
}

.gloval-nav ul {
    padding: 0;
}

.gloval-nav .nav-item {
    display: inline-block;
}

.nav-item a {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: #303030;
}

.gloval-nav .nav-item.active a {
    color: royalblue;
}

.nav-item a:hover {
    color: royalblue;
}

/* main */

/* footer */
.footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
    color: #696969;
}