@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import "./variables.scss";
/* common */
* {
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    margin: 0;
    background-color: #fff;
}

a {
    text-decoration: none;
}

.window {
    min-height: 100vh;
    position: relative;
}

/* header */
.header {
    width: 100%;
    background-color: $background;
    text-transform: uppercase;
}

/* accordion menu */
.header__accordion {
    // display: none;
    height: 72px;
    justify-content: flex-end;

    &__button {
        height: 100%;
        width: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;

        &:hover {
            background-color: $accordion-hover;
        }
    }

    &__img {
        height: 35%;
    }
}

/* goval navigation*/
.header__gloval-nav {
    // display: flex;
    justify-content: flex-end;
    margin: 0 30px;
    
    & ul {
        padding: 0;
    }
}

.header__nav-item {
    display: inline-block;
    
    & a {
        display: inline-block;
        text-align: center;
        width: 100px;
        height: 40px;
        line-height: 40px;
        color: #303030;
        
        &:hover {
            color: $text-blue;
        }
    }
    
    &.active {
        
        & a {
            color: $text-blue;
        }
    }
}

/* about-main */
.about-main {
    display: flex;
    width: 100%;
    margin-top: 40px;

    &__left {
        width: 50%;
        margin-left: 60px;

        p {
            color: $main-text-color;
            font-weight: 300;
        }

        &__title {
            color: $main-title-color;
            font-size: 200%;
        }

        &__text--first {
            margin-bottom: 1rem;
            margin-top: 30px;
        }
        &__text--second {
            margin-bottom: 1rem;
        }
    }

    &__right {
        width: 50%;
        margin-left: 60px;

        &__title {
            color: $main-title-color;
            font-size: 2.0rem;
        }

        &__subtitle {
            color: $main-title-color;
            font-weight: 300;
            font-size: 130%;
            margin-bottom: 10px;
            margin-top: 30px;
            color: #323232;
        }

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
        }
    
        &__item {
            text-align: center;
            margin-right: 20px;
            margin-top: 10px;
    
            p {
                color: $main-text-color;
                font-size: 0.8rem;
                font-weight: 300;
                margin: 0;
            }
        }
    
        &__img {
            width: 45px;
        }
    }
}

/* footer */
.footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
    color: #696969;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 1023px) {

    .window {
        min-height: 100vh;
    }

    /* header */
    .header__gloval-nav {
        display: none;
        // background-color: $gloval-nav-active;
    }

    .header__gloval-nav.is-active {
        display: flex;
        margin: 0;

        & ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            margin: 0;
           
            & li {
                margin: 5px 0;
            }
        }
    }

    .header__accordion {
        display: flex;

        &.header__accordion--close {
            display: none;
        }

        &.is-active {
            display: flex;
        }
        &.inactive {
            display: none;
        }

        &__button:active {
            background-color: $accordion-active;
        }
    }

    /* main */
    .about-main {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 30px;

        &__left {
            margin: 0;
            width: 100%;
        }

        &__right {
            margin: 0;
            width: 100%;

            &__wrapper {
                justify-content: space-around;
            }

            &__item {
                margin: 10px 20px;
            }

            &__subtitle {
                margin-bottom: 30px;
            }
        }
    }

    .footer {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 300;
        color: #696969;
        position: initial;
        bottom: 0;
        margin-top: 40px;
    }
}

@media only screen and (min-width: 1024px) {
    .header__gloval-nav {
        display: flex;
    }

    .header__accordion {
        display: none;
    }
}

