@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import "./variables.scss";
/* common */
* {
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    margin: 0;
    background-color: #fff;
}

a {
    text-decoration: none;
}

.window {
    position: relative;
    // padding-bottom: 50px;
}

ul {
    list-style: none;
}

/* header */
.header {
    width: 100%;
    background-color: $background;
    text-transform: uppercase;
}

/* accordion menu */
.header__accordion {
    // display: none;
    height: 72px;
    justify-content: flex-end;

    &__button {
        height: 100%;
        width: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;

        &:hover {
            background-color: $accordion-hover;
        }
    }

    &__img {
        height: 35%;
    }
}

/* goval navigation*/
.header__gloval-nav {
    // display: flex;
    justify-content: flex-end;
    margin: 0 30px;
    
    & ul {
        padding: 0;
    }
}

.header__nav-item {
    display: inline-block;
    
    & a {
        display: inline-block;
        text-align: center;
        width: 100px;
        height: 40px;
        line-height: 40px;
        color: #303030;
        
        &:hover {
            color: $text-blue;
        }
    }
    
    &.active {
        
        & a {
            color: $text-blue;
        }
    }
}

/* top-work */
.work-main {
    text-align: center;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;

    &__title {
        color: $main-title-color;
    }

    &__container {
        display: flex;
        flex: none;
        width: 100%;
        flex-wrap: wrap;
    }

    &__wrapper {
        display: flex;
        width: 50%;
        padding: 30px;
        min-width: 300px;
    }

    &__article {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        transition: 0.2s;
        padding: 30px 0;
        display: flex;
        justify-content: space-around;

        a {
            color: $main-text-color;
        }

        &:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        }
    }

    &__link {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    &__img {
        &--app {
            height: 300px;
            // margin: 30px;
            border-radius: 8px;
        }

        &--skills {
            width: 45px;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        width: 50%;
        justify-content: space-around;

        .main__text {
            text-align: left;
        }
    }

    &__url {
        display: flex;
        width: 100%;
    }

    &__subtitle {
        font-weight: 300;
        margin: 0;
    }

    &__text {
        &--skills {
            margin: 0;
        }
    }

    &__box {
        display: flex;
        justify-content: space-around;
        padding: 0;

        .main__text {
            padding: 2px 10px;
        }
    }

    &__item {
        .main__text {
            margin: 0;
            padding: 0;
            font-size: 0.8rem;
        }
    }

    &__img--skills {
        width: 40px;
    }

    &__app {
        background-color: $work-background-color;
        border-radius: 3px;
        transition: 0.2s;
        width: 50%;
        margin-right: 10px;
        &:hover {
            background-color: $work-background-active-color;
        }
    }

    &__github {
        // border: solid 1px $work-border-color;
        background-color: $work-background-color;
        border-radius: 3px;
        transition: 0.2s;
        width: 50%;
        margin-left: 10px;
        &:hover {
            background-color: $work-background-active-color;
        }
    }
}

/* footer */
.footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
    color: #696969;
    position: absolute;
    // bottom: 0;
    // margin-bottom: 13px;
    // &__copyright {
    //     margin: 0;
    // }
    
}

@media only screen and (max-width: 1023px) {

    /* window */
    .window {
        position: relative;
        // padding-bottom: 80px;
    }

    /* header */
    .header__gloval-nav {
        display: none;
        // background-color: $gloval-nav-active;
    }

    .header__gloval-nav.is-active {
        display: flex;
        margin: 0;

        & ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            margin: 0;
           
            & li {
                margin: 5px 0;
            }
        }
    }

    .header__accordion {
        display: flex;

        &.header__accordion--close {
            display: none;
        }

        &.is-active {
            display: flex;
        }
        &.inactive {
            display: none;
        }

        &__button:active {
            background-color: $accordion-active;
        }
    }

    /* main */
    .work-main {
        &__container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__wrapper {
            width: 100%;
        }
    }

    /* footer */
    .footer {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 300;
        color: #696969;
        position: absolute;
        // bottom: 0;
        padding: 0;
    }

}

@media only screen and (max-width: 540px) {
    .work-main {
        padding: 0;
        padding-bottom: 80px;
        &__container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 30px;
        }

        &__wrapper {
            margin-top: 30px;
            padding: 0;
            min-width: 100%;
        }

        &__link {
            flex-direction: column;
            align-items: center;

        }

        &__img--app {
            width: 100px;
            height: auto;
            margin: 30px 0;
        }

        &__article {
            padding: 0;
        }

        &__description {
            width: 100%;
            padding: 0 20px;
        }

        &__text {
            margin: 20px 0;

            &--skills {
                margin: 0;
                font-size: 0.8rem;
            }
        }

    }
}

@media only screen and (min-width: 1024px) {
    .header__gloval-nav {
        display: flex;
    }

    .header__accordion {
        display: none;
    }
}

